In [1]:
import pyfredapi as pf
import numpy as np
import pandas as pd

In [2]:
API_KEY = "106419264587f03fcdba13deec1ebdfe"

## Exploration

In [11]:
# get series info
series_info = pf.get_series_info(series_id="GDP", api_key=API_KEY)
print(*series_info, sep="\n")

In [13]:
# get category of the series
cat_info = pf.get_series_categories(series_id=series_info.id, api_key=API_KEY)
cat_info

{'categories': [{'id': 106, 'name': 'GDP/GNP', 'parent_id': 18}]}

In [14]:
# get the SeriesInfo of all series in the category
all_series_in_cat = pf.get_category_series(category_id=cat_info["categories"][0]["id"], api_key=API_KEY)
print(len(all_series_in_cat))

377

In [74]:
# get the popularity value for all series
popularities = [series_info.popularity for series_info in all_series_in_cat.values()]

# get frequency for all series
frequencies = [series_info.frequency_short for series_info in all_series_in_cat.values()]

In [75]:
pd.DataFrame(popularities).describe(percentiles=np.arange(0.6,1,0.05))

                0
count  776.000000
mean     1.324742
std      3.935966
min      0.000000
50%      1.000000
60%      1.000000
65%      1.000000
70%      1.000000
75%      1.000000
80%      1.000000
85%      1.000000
90%      3.000000
95%      3.000000
max     48.000000

In [76]:
pd.DataFrame(frequencies).value_counts()

Q    615
A    161
dtype: int64

In [15]:
IDs = []
for series_info in all_series_in_cat.values():
    if series_info.popularity > 20:
#     if "as a Percentage of GDP" in series_info.title:
        print(series_info.title, series_info.id, 
              series_info.frequency_short,
              series_info.seasonal_adjustment_short,
              sep=" | ")
        IDs.append(series_info.id)

Real Gross Domestic Product | A191RL1A225NBEA | A | NSA
Real Gross Domestic Product | A191RL1Q225SBEA | Q | SAAR
Real Gross Domestic Product | A191RO1Q156NBEA | Q | SA
Gross Domestic Product | A191RP1A027NBEA | A | NSA
Gross Domestic Product | A191RP1Q027SBEA | Q | SAAR
Real gross domestic income | A261RX1Q020SBEA | Q | SAAR
Nonfinancial corporate business: Profits before tax (without IVA and CCAdj) | A464RC1Q027SBEA | Q | SAAR
Gross domestic product per capita | A939RC0A052NBEA | A | NSA
Gross domestic product per capita | A939RC0Q052SBEA | Q | SAAR
Real gross domestic product per capita | A939RX0Q048SBEA | Q | SAAR
Brave-Butters-Kelley Real Gross Domestic Product | BBKMGDP | M | SA
Brave-Butters-Kelley Leading Index | BBKMLEIX | M | SA
Change in Private Inventories | CBI | Q | SAAR
Gross Domestic Product | GDP | Q | SAAR
Gross Domestic Product | GDPA | A | NSA
Real Gross Domestic Product | GDPC1 | Q | SAAR
FOMC Summary of Economic Projections for the Growth Rate of Real Gross Domestic Product, Central Tendency, Midpoint | GDPC1CTM | A | NSA
Longer Run FOMC Summary of Economic Projections for the Growth Rate of Real Gross Domestic Product, Central Tendency, Midpoint | GDPC1CTMLR | NA | NSA
FOMC Summary of Economic Projections for the Growth Rate of Real Gross Domestic Product, Median | GDPC1MD | A | NSA
Real Gross Domestic Product (DISCONTINUED) | GDPC96 | Q | SAAR
Real Gross Domestic Product | GDPCA | A | NSA
GDPNow | GDPNOW | Q | SAAR
Real Potential Gross Domestic Product | GDPPOT | Q | NSA
Gross National Product | GNP | Q | SAAR
Real Final Sales to Private Domestic Purchasers | LB0000031Q020SBEA | Q | SAAR
Gross Domestic Product | NA000334Q | Q | NSA
Real Gross Domestic Product | NB000334Q | Q | NSA
Gross Domestic Product | NC000334Q | Q | NSA
Real Gross Domestic Product | ND000334Q | Q | NSA
Nominal Potential Gross Domestic Product | NGDPPOT | Q | NSA
Real Gross Domestic Product | OB000334Q | Q | NSA
Real Average of GDP and GDI | PB0000091Q225SBEA | Q | SAAR
St. Louis Fed Economic News Index: Real GDP Nowcast | STLENI | Q | SAAR
Weekly Economic Index (Lewis-Mertens-Stock) | WEI | W | NSA
Gross Domestic Product: Research and Development | Y694RC1Q027SBEA | Q | SAAR

## API calls

In [18]:
params = {"observation_start": "2000-01-01"}

In [19]:
ID = "VAPGDPAER"
df = pf.get_series(series_id=ID, api_key=API_KEY, **params)
print(df.shape)

(73, 4)

In [20]:
# get series info
series_info = pf.get_series_info(series_id=ID, api_key=API_KEY)
print(*series_info, sep="\n")

('id', 'VAPGDPAER')
('realtime_start', '2023-10-21')
('realtime_end', '2023-10-21')
('title', 'Value Added by Industry: Arts, Entertainment, Recreation, Accommodation, and Food Services: Arts, Entertainment, and Recreation as a Percentage of GDP')
('observation_start', '2005-01-01')
('observation_end', '2023-01-01')
('frequency', 'Quarterly')
('frequency_short', 'Q')
('units', 'Percent')
('units_short', '%')
('seasonal_adjustment', 'Not Seasonally Adjusted')
('seasonal_adjustment_short', 'NSA')
('last_updated', '2023-06-29 11:04:40-05')
('popularity', 1)
('notes', 'Value added represents the sum of the costs-incurred and the incomes-earned in production, and consists of compensation of employees, taxes on production and imports, less subsidies, and gross operating surplus.')

In [21]:
df

   realtime_start realtime_end       date  value
0      2023-10-21   2023-10-21 2005-01-01    0.9
1      2023-10-21   2023-10-21 2005-04-01    0.9
2      2023-10-21   2023-10-21 2005-07-01    0.9
3      2023-10-21   2023-10-21 2005-10-01    0.9
4      2023-10-21   2023-10-21 2006-01-01    0.9
..            ...          ...        ...    ...
68     2023-10-21   2023-10-21 2022-01-01    1.0
69     2023-10-21   2023-10-21 2022-04-01    1.0
70     2023-10-21   2023-10-21 2022-07-01    1.1
71     2023-10-21   2023-10-21 2022-10-01    1.1
72     2023-10-21   2023-10-21 2023-01-01    1.2

[73 rows x 4 columns]

In [69]:
# df.to_csv(f"../../Database/{ID}.csv", index=False)

In [82]:
# for ID in IDs:
#     df = pf.get_series(series_id=ID, api_key=API_KEY, **params)
#     df.to_csv(f"../../Database/{ID}.csv", index=False)