In [1]:
import nasdaqdatalink

In [3]:
nasdaqdatalink.ApiConfig.api_key = "qA7ZJNRJgdefX28HHMYh"

In [9]:
df = nasdaqdatalink.get("FRED/GDPC1", start_date="2010-01-01", end_date="2023-08-16")

In [10]:
df

                Value
Date
2010-01-01  15456.059
2010-04-01  15605.628
2010-07-01  15726.282
2010-10-01  15807.995
2011-01-01  15769.911
2011-04-01  15876.839
2011-07-01  15870.684
2011-10-01  16048.702
2012-01-01  16179.968
2012-04-01  16253.726
2012-07-01  16282.151
2012-10-01  16300.035
2013-01-01  16441.485
2013-04-01  16464.402
2013-07-01  16594.743
2013-10-01  16712.760
2014-01-01  16654.247
2014-04-01  16868.109
2014-07-01  17064.616
2014-10-01  17141.235
2015-01-01  17280.647
2015-04-01  17380.875
2015-07-01  17437.080
2015-10-01  17462.579
2016-01-01  17565.465
2016-04-01  17618.581
2016-07-01  17724.489
2016-10-01  17812.560
2017-01-01  17896.623
2017-04-01  17996.802
2017-07-01  18126.226
2017-10-01  18296.685
2018-01-01  18436.262
2018-04-01  18590.004
2018-07-01  18679.599
2018-10-01  18721.281
2019-01-01  18833.195
2019-04-01  18982.528
2019-07-01  19112.653
2019-10-01  19202.310
2020-01-01  18951.992
2020-04-01  17258.205
2020-07-01  18560.774
2020-10-01  18767.778
2021-01-01  19055.655
2021-04-01  19368.310
2021-07-01  19478.893
2021-10-01  19805.962